<tr class='athing comtr ' id='22834303'>
<td>
    <table border='0'>  
        <tbody>
            <tr>
               <%if alert != nil%>
                    <div class="wotitem"
                     id="alert"><%= alert %>
                    </div>
                    <br>
                <%end%>
            </tr>
            <tr>
                <td class='ind'>
                    <img src="https://news.ycombinator.com/s.gif">
                </td>
                <td valign="top" class="votelinks">
                    <center>
                        <% if session[:user_id] == nil %>
                            <a id='up_22834303' onclick='return vote(event, this, "up")' href='/auth/google_oauth2'>
                                <div class='votearrow' title='upvote'>
                                  <img src="https://news.ycombinator.com/grayarrow.gif">
                                </div>
                            </a>
                        <% elsif @comment.user == session[:user_id] %>
                            <font color="#ff660">*</font>
                            <br>
                            <img src="https://news.ycombinator.com/s.gif" height="1" width="14">
                        <% elsif Vote.where(tipus: "comment", idType: @comment.id, idUser: session[:user_id]).count == 0 %>
                            <a id='up_22834303' onclick='return vote(event, this, "up")' href='/comments/<%= @comment.id %>?vote=true&from=contribution'>
                                <div class='votearrow' title='upvote'>
                                  <img src="https://news.ycombinator.com/grayarrow.gif">
                                </div>
                            </a>
                        <% end %>
                    </center>
                </td>
                <td class="default">
                    <div style="margin-top:2px; margin-bottom:-10px;">
                        <span class="comhead">
                            <a href="/users/<%= @comment.user %>" class="hnuser"><%= User.find(@comment.user).user %></a> 
                            <span class="age">
                                <a href=""><%= time_ago_in_words(@comment.created_at) %> ago</a>
                            </span> 
                            <% if session[:user_id] != nil && Vote.where(tipus: "comment", idType: @comment.id, idUser: session[:user_id]).count == 1 %>
                                | <a href="/comments/<%= @comment.id %>?vote=false&from=contribution">unvote</a>
                            <% end %>
                            | <a href="/contribution_comments/<%= @comment.contribution %>">parent</a>
                            | <a href="/contribution_comments/<%= @comment.contribution %>">on: <%= Contribution.find(@comment.contribution).title %></a>
                            <span id="unv_22834303"></span>
                            <span class="par"></span> 
                            <a class="togg" n="29" href="javascript:void(0)" onclick="return toggle(event, 22834303)"></a>          
                            <span class='storyon'></span>
                        </span>
                    </div>
                    <br>
                    <div class="comment">
                        <span class="commtext c00"><%= @comment.text %></span>
                    </div>
                    <div class='reply'></div></div></td></tr>
                    <tr style="height:10px"></tr><tr><td colspan="2"></td><td>
                    <% if session[:user_id] != nil %>
                        <form method="post" action="/replies">
                    <% else %>
                        <form method="get" action="/auth/google_oauth2">
                    <% end %>
                    <textarea name="reply[text]" rows="6" cols="60"></textarea>
                    <br>
                    <br>
                    <input type="hidden" name="reply[comment_id]" value="<%= @comment.id %>">
                    <input type="hidden" name="reply[contribution]" value="<%= @comment.contribution %>">
                    <input type="submit" value="reply">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    
</td>
</tr>