 <% @mix.each do |comment| %>
 <tr>
  <td>
   <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
    <% @contribution = Contribution.find(comment.contribution) %>
    <tr class='athing' id='22782685'>    
     <td class='ind'></td>
     <td valign="top" class="votelinks">
      <center>
       <% if session[:user_id] == nil %>
        <a id='up_22834303' onclick='return vote(event, this, "up")' href='/auth/google_oauth2'>
         <div class='votearrow' title='upvote'>
          <img src="https://news.ycombinator.com/grayarrow.gif">
         </div>
        </a>
       <% elsif comment.user == session[:user_id] %>
        <font color="#ff660">*</font>
        <br>
        <img src="https://news.ycombinator.com/s.gif" height="1" width="14">
       <% elsif Vote.where(tipus: "comment", idType: comment.id, idUser: session[:user_id]).count == 0 %>
        <a id='up_22834303' onclick='return vote(event, this, "up")' href='/comments/<%= comment.id %>?vote=true&from=comments'>
         <div class='votearrow' title='upvote'>
          <img src="https://news.ycombinator.com/grayarrow.gif">
         </div>
        </a>
       <% end %>
      </center>
     </td>
     <td class="default">
      <div style="margin-top:2px; margin-bottom:-10px;">
       <span class="comhead">
        <a href="/users/<%= comment.user %>" class="hnuser"><%= User.find(comment.user).user %></a>
        </a> 
        <span class="age">
         <a href="/contribution_comments/<%= @contribution.id %>"><%= time_ago_in_words(comment.created_at) %> ago</a>
        </span> 
        <span id="unv_22782685"></span>
        <span class="par"> 
        | 
        <% if session[:user_id] != nil && Vote.where(tipus: "comment", idType: comment.id, idUser: session[:user_id]).count == 1 %>
         <a href="/comments/<%= comment.id %>?vote=false&from=comments">unvote</a> |
        <% end %>
        <a href="/contribution_comments/<%= @contribution.id %>">parent</a>
        </span> 
        <a class="togg" n="1" href="javascript:void(0)" onclick="return toggle(event, 22782685)"></a>          
        <span class='storyon'>
          | on: 
         <a href="/contribution_comments/<%= @contribution.id %>"><%= @contribution.title %></a>
        </span>
       </span>
      </div>
      <br>
      <div class="comment">
       <span class="commtext c00"><%= comment.text %></span>
       <div class='reply'></div>
      </div>
     </td>
    </tr>
    <tr class="spacer" style="height:15px"></tr>
   </table>
  </td>
 </tr>
<% end %>