<center>
  <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
    <tr>
      <td bgcolor="#ff6600"></td>
    </tr>
    <tr style="height:10px"></tr>
    <tr>
      <td>
        <span class="admin">
          <center>
            <table width="500">
            	<tr>
            		<td>Blank lines separate paragraphs. <br><br>
            			Text surrounded by asterisks is italicized, if the character after the first asterisk isn't whitespace.<br><br>
            			Text after a blank line that is indented by two or more spaces is reproduced verbatim.  (This is intended for code.)<br><br>
            			Urls become links, except in the text field of a submission.<br><br>
          			</td>
          		</tr>
            </table>
          </center>
        </span>
        <br><br>
      </td>
    </tr>
  </table>
</center>