<!-- <p id="notice"><%= notice %></p> -->
<tbody>
    <% @i = 1 %>
    <% @contributions.each do |contribution| %>
      <tr class='athing' id='22694891'>
        <td align="right" valign="top" class="title"><span class="rank"><%= @i %>.</span></td>
        <td valign="top" class="votelinks">
          <small>
            <% if session[:user_id] == nil %>
                 <a href="/auth/google_oauth2">
                <img src="https://news.ycombinator.com/grayarrow.gif">
                </a>
              <% elsif contribution.user_id == session[:user_id] %>
              <img src="https://news.ycombinator.com/s.gif" height="1" width="0">
                <font color="#ff660">*</font>
                <img src="https://news.ycombinator.com/s.gif" height="1" width="0">
              <% elsif Vote.where(tipus: "contribution", idType: contribution.id, idUser: session[:user_id]).count == 0 %>
               <a href='/contributions/<%= contribution.id %>?vote=true'>
                <img src="https://news.ycombinator.com/s.gif" height="1" width="0">
               <img src="https://news.ycombinator.com/grayarrow.gif">
               <img src="https://news.ycombinator.com/s.gif" height="1" width="0">
               </a>
               <% end %>
          </smallr>
        </td>
        <td class="title">
            <%if  !contribution.url.blank? %>
            <a href="http://<%= contribution.url %>" class="storylink">
                <%= contribution.title %>
                </a><span class="sitebit comhead"> (<a href="contributions?url_search=<%= contribution.shorturl %>"><span class="sitestr"><%= contribution.shorturl %></span></a>)</span>
            <%else%>
                <a href="/contribution_comments/<%= contribution.id %>" class="storylink">
                <%= contribution.title %>
                </a>
            <%end%>
        </td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td class="subtext">
                <span class="score" id="score_22694891"><%= contribution.points %> points</span> 
                by 
                <% @user = User.find(contribution.user_id) %>
                <a href="/users/<%= @user.id %>" class="hnuser"> <%= @user.user %> </a>
                <span class="age">
                  <a href="/contribution_comments/<%= contribution.id %>"><%= time_ago_in_words(contribution.created_at) %> ago</a>
                </span> 
                <span id="unv_22694891"></span>
                <% if session[:user_id] != nil && Vote.where(tipus: "contribution", idType: contribution.id, idUser: session[:user_id]).count == 1 %>
                |
                <a href="/newest/<%= contribution.id %>?vote=false">unvote</a>
                <% end %>
                <% if contribution.user_id == session[:user_id] %>
                    | 
                    <a href="/edit?cont_id=<%= contribution.id%>">edit</a> 
                    | 
                    <a href="/delete?cont_id=<%= contribution.id%>">delete</a> 
                <%end%>
                |
                <a href="/contribution_comments/<%= contribution.id %>"> <%= Comment.where(contribution: contribution.id).count %>  comments</a>
            </td>
        </tr>
      <tr class="spacer" style="height:5px"></tr>
      <% @i += 1%>
    <% end %>
</tbody>
