<tr id="pagespace" title="Confirm" style="height:10px"></tr><tr><td><table border="0">
        <tr class='athing' id='22884410'>
      <td align="right" valign="top" class="title"><span class="rank"></span></td>      
      <td valign="top" class="votelinks"><center><font color="#ff6600">*</font><br>
        <img src="s.gif" height="1" width="14"></center></td>
        <% if @contribution.url.blank? %>
                <td class="title">
                <a href="/contribution_comments/<%= @contribution.id %>" class="storylink">
                <%= @contribution.title %>
                </a></td>
        <%else%>
        <td class="title"><a href= "http://<%= @contribution.url %>" class="storylink" rel="nofollow"><%= @contribution.title %></a>
        <span class="sitebit comhead"> (<a href="contributions?url_search=<%= @contribution.shorturl %>"><span class="sitestr"><%= @contribution.shorturl %></span></a>)</span></td>
        <%end%>
        </tr>
        <tr><td colspan="2"></td>
        <td class="subtext">
        <span class="score" id="score_22884410"><%= @contribution.points%> points</span>
        by 
        <% @user = User.find(@contribution.user_id) %>
        <a href="/users/<%= @user.id %>" class="hnuser"><font color="#3c963c"><%= @user.user %></font></a> 
        <span class="age"><a href="/contribution_comments/<%= @contribution.id %>"><%= time_ago_in_words(@contribution.created_at) %> ago</a></span> 
        <span id="unv_22884410"></span> | <a href="/edit?cont_id=<%= @contribution.id %>">edit</a>
        | 
        <a href="/delete?cont_id=<%= @contribution.id %>">delete</a>
        </td></tr>
        <tr style="height:20px"></tr><tr><td colspan="2"></td>
        <td>
          <form method="post" action="/delete/<%= @contribution.id %>">
            <input name="_method" type="hidden" value="delete" />
           
        Do you want this to be deleted?
        <br><br><input type="submit" name="d" value="Yes">&nbsp;
        <input type="submit" name="d" value="No"></form></td></tr></table>
</td></tr>