<form class="profileform" method="post" action="/users/<%= @user.id %>">
  <input name="_method" type="hidden" value="patch" />
  <table border="0">
      <% if session[:user_id] == @user.id %>
      <tr class='athing'>
          <td valign="top">API KEY:</td>
          <td><%= @user.authentication_token %></a></td>
      </tr>
      <%end%>
      <tr class='athing'>
          <td valign="top">user:</td>
          <td><a href="/user/<%= @user.id %>" class="hnuser"><%= @user.user %></a></td>
      </tr>
      <tr>
          <td valign="top">created:</td>
          <td><%= time_ago_in_words(@user.created_at) %></td>
      </tr>
      <tr>
          <td valign="top">karma:</td>
          <td><%= @user.karma %></td>
      </tr>
      <tr>
          <td valign="top">about:</td>
          <td>
              <textarea cols="60" rows="5" wrap="virtual" name="about"><%= @user.about %></textarea>
              <font size="-2"><a href="/formatdoc" tabindex="-1"><font color="#afafaf">help</font></a>
              </font>
          </td>
      </tr>
      <tr>
          <td valign="top">email:</td>
          <td>
              <input type="text" name="email" value="<%= @user.email %>" size="60">
          </td>
      </tr>
      <tr>
          <td></td>
          <td><a href="/newest?user_id=<%= @user.id %>"><u>submissions</u></a></td>
      </tr>
      <tr>
          <td></td>
          <td><a href="/comments?users_id=<%= @user.id %>"><u>comments</u></a></td>
      </tr>
      
      <% if session[:user_id] == @user.id %>
      <tr>
          <td></td>
          <td><a href="/newest?user_id=<%= @user.id %>&voted=true"><u>upvoted submissions</u></a> /
              <a href="/comments?users_id=<%= @user.id %>&voted=true"><u>comments</u></a> &nbsp;
              <span style='font-style:italic'>(private)</span></td>
      </tr>
      <% end %>
  </table>
  <br>
  <% if session[:user_id] == @user.id %>
    <input type="submit" value="update">
  <% end %>
</form>