<p id="notice"><%= notice %></p>
<tr>
    <td>
        <table class="fatitem" border="0">
            <tr>
               <%if alert != nil%>
                    <div class="wotitem"
                     id="alert"><%= alert %>
                    </div>
                    <br>
                <%end%>
            </tr>
            <tr class='athing' id='22834058'>
                <td align="right" valign="top" class="title">
                    <span class="rank"></span>
                </td>      
                <td valign="top" class="votelinks">
                    <center>
                        <% if session[:user_id] == nil %>
                            <a id='up_22834303' onclick='return vote(event, this, "up")' href='/auth/google_oauth2'>
                                <div class='votearrow' title='upvote'>
                                  <img src="https://news.ycombinator.com/grayarrow.gif">
                                </div>
                        <% elsif @contribution.user_id == session[:user_id] %>
                              <img src="https://news.ycombinator.com/s.gif" height="1" width="0">
                                <font color="#ff660">*</font>
                                <img src="https://news.ycombinator.com/s.gif" height="1" width="0">
                        <% elsif Vote.where(tipus: "contribution", idType: @contribution.id, idUser: session[:user_id]).count == 0 %>
                            <a id='up_22834303' onclick='return vote(event, this, "up")' href='/contribution_comments/<%= @contribution.id %>?vote=true'>
                                <div class='votearrow' title='upvote'>
                                    <img src="https://news.ycombinator.com/grayarrow.gif">
                                </div>
                        <% end %>
                        </a>
                    </center>
                </td>
                <td class="title">
                    <%if @contribution.url.blank? %>
                    <a href="/contribution_comments/<%= @contribution.id %>" class="storylink">
                        <%= @contribution.title %>
                    <%else%>
                    <a href="http://<%= @contribution.url %>" class="storylink">
                        <%= @contribution.title %>
                    </a>
                    <%end%>
                    <%if !@contribution.url.blank? %>
                    <span class="sitebit comhead"> (
                        <a href="/contributions?url_search=<%= @contribution.shorturl %>">
                            <span class="sitestr">
                                <%= @contribution.shorturl %>
                            </span>
                        </a>)
                    </span>
                    <% else %>
                    <tr>
                        <td colspan="2"></td>
                        <td>
                            <%= @contribution.text %>
                        </td>
                    </tr>
                    <%end%>
                </td>
            </tr>
            <tr>
                <td colspan="2"></td><td class="subtext">
                    <span class="score" id="score_22834058"><%= @contribution.points %> points</span> by 
                    <a href="/users/<%= @contribution.user_id %>" class="hnuser"><%= User.find(@contribution.user_id ).user %></a> 
                    <span class="age">
                        <a href="/contribution_comments/<%= @contribution.id %>"><%= time_ago_in_words(@contribution.created_at) %> ago</a>
                    </span> 
                    <span id="unv_22834058"></span> | 
                    <% if session[:user_id] != nil && Vote.where(tipus: "contribution", idType: @contribution.id, idUser: session[:user_id]).count == 1 %>
                        <a href="/contribution_comments/<%= @contribution.id %>?vote=false">unvote</a> |
                    <% end %>
                    <a href="https://hn.algolia.com/?query=<%= @contribution.title %>" class="hnpast">past</a> | 
                    <a href="https://www.google.com/search?q=<%= @contribution.title %>" >web</a> | 
                    
                    <a href="/contribution_comments/<%= @contribution.id %>"> <%= Comment.where(contribution: @contribution.id).count %>  comments</a>              
                </td>
            </tr>
            <tr style="height:10px"></tr>
            <tr>
                <td colspan="2"></td>
                <td>
                    <% if session[:user_id] != nil %>
                        <form method="post" action="/contribution_comments">
                    <% else %>
                        <form method="get" action="/auth/google_oauth2">
                    <% end %>
                    <%if @contribution.user_id != session[:user_id]%>
                        <textarea name="text" rows="6" cols="60"></textarea>
                        <br>
                        <br>
                        <input type="hidden" name="contribution" value="<%= @contribution.id %>">
                        <input type="submit" value="add comment">
                    <%end%>
                    </form>
                </td>
            </tr>
        </table>
        <br>
        <br>
        <table border="0" class='comment-tree'>
            <tbody>
              <% @comment.each do |comment| %>
              <% @user = User.find(comment.user) %>
              <% @reply = Comment.where(escomment: false).where(comment_id: comment.id).order("points DESC") %>
                <tr class='athing comtr ' id='22834303'>
                    <td>
                        <table border='0'>  
                            <tbody>
                                <tr>    
                                    <td class='ind'>
                                        <img src="https://news.ycombinator.com/s.gif">
                                    </td>
                                    <td valign="top" class="votelinks">
                                        <center>
                                            <% if session[:user_id] == nil %>
                                                <a id='up_22834303' onclick='return vote(event, this, "up")' href='/auth/google_oauth2'>
                                                    <div class='votearrow' title='upvote'>
                                                      <img src="https://news.ycombinator.com/grayarrow.gif">
                                                    </div>
                                                </a>
                                            <% elsif comment.user == session[:user_id] %>
                                                <font color="#ff660">*</font>
                                                <br>
                                                <img src="https://news.ycombinator.com/s.gif" height="1" width="14">
                                            <% elsif Vote.where(tipus: "comment", idType: comment.id, idUser: session[:user_id]).count == 0 %>
                                                <a id='up_22834303' onclick='return vote(event, this, "up")' href='/comments/<%= comment.id %>?vote=true&from=contribution'>
                                                    <div class='votearrow' title='upvote'>
                                                      <img src="https://news.ycombinator.com/grayarrow.gif">
                                                    </div>
                                                </a>
                                            <% end %>
                                        </center>
                                    </td>
                                    <td class="default">
                                        <div style="margin-top:2px; margin-bottom:-10px;">
                                            <span class="comhead">
                                                <a href="/users/<%= comment.user %>" class="hnuser"><%= User.find(comment.user).user %></a> 
                                                <span class="age">
                                                    <a href=""><%= time_ago_in_words(comment.created_at) %> ago</a>
                                                </span> 
                                                <% if session[:user_id] != nil && Vote.where(tipus: "comment", idType: comment.id, idUser: session[:user_id]).count == 1 %>
                                                    | <a href="/comments/<%= comment.id %>?vote=false&from=contribution">unvote</a>
                                                <% end %>
                                                <span id="unv_22834303"></span>
                                                <span class="par"></span> 
                                                <a class="togg" n="29" href="javascript:void(0)" onclick="return toggle(event, 22834303)"></a>          
                                                <span class='storyon'></span>
                                            </span>
                                        </div>
                                        <br>
                                        <div class="comment">
                                            <span class="commtext c00"><%= comment.text %></span>
                                            <div class='reply'>        
                                                <p>
                                                <font size="1">
                                                    <u>
                                                        <a href="/replies/<%= comment.id %>">reply</a>
                                                    </u>
                                                </font>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <% @reply.each do |reply| %>
                            <tr class='athing comtr ' id='22856159'>
                                <td>
                                    <table border='0'>  
                                        <tr>
                                            <td class='ind'><img src="https://news.ycombinator.com/s.gif" height="1" width="40"></td>
                                            <td valign="top" class="votelinks">
                                                <center>
                                                    <% if session[:user_id] == nil %>
                                                        <a id='up_22834303' onclick='return vote(event, this, "up")' href='/auth/google_oauth2'>
                                                            <div class='votearrow' title='upvote'>
                                                              <img src="https://news.ycombinator.com/grayarrow.gif">
                                                            </div>
                                                        </a>
                                                    <% elsif reply.user == session[:user_id] %>
                                                        <font color="#ff660">*</font>
                                                        <br>
                                                        <img src="https://news.ycombinator.com/s.gif" height="1" width="14">
                                                    <% elsif Vote.where(tipus: "reply", idType: reply.id, idUser: session[:user_id]).count == 0 %>
                                                        <a id='up_22834303' onclick='return vote(event, this, "up")' href='/replies/<%= reply.id %>?vote=true&from=contribution'>
                                                            <div class='votearrow' title='upvote'>
                                                              <img src="https://news.ycombinator.com/grayarrow.gif">
                                                            </div>
                                                        </a>
                                                    <% end %>
                                                </center></td><td class="default">
                                                <div style="margin-top:2px; margin-bottom:-10px;">
                                                    <span class="comhead">
                                                        <a href="/users/<%= reply.user %>" class="hnuser"><%= User.find(reply.user).user %></a> 
                                                        <span class="age">
                                                            <a href=""><%= time_ago_in_words(reply.created_at) %> ago</a>
                                                        </span> 
                                                        <% if session[:user_id] != nil && Vote.where(tipus: "reply", idType: reply.id, idUser: session[:user_id]).count == 1 %>
                                                            | <a href="/replies/<%= reply.id %>?vote=false&from=contribution">unvote</a>
                                                        <% end %>
                                                        <span id="unv_22834303"></span>
                                                        <span class="par"></span> 
                                                        <a class="togg" n="29" href="javascript:void(0)" onclick="return toggle(event, 22834303)"></a>          
                                                        <span class='storyon'></span>
                                                    </span>
                                                </div>
                                                <br>
                                                <div class="comment">
                                                  <span class="commtext c00"><%= reply.text %></span>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        <% end %>
                    </td>
                </tr>
              <% end %>
            </tbody>
        </table>
    </td>
</tr>