<%= form_with(model: contribution, local: true) do |form| %>
<body>
    <center>
            <tr style="height:10px"></tr>
            <tr>
                <td>
                    <form method="post" action="/r">
                        <script type="text/javascript">
                            function tlen(el) {
                                var n = el.value.length - 80;
                                el.nextSibling.innerText = n > 0 ? n + ' too long' : '';
                            }
                        </script>
                        <table border="0">
                            <tr>
                               <%if alert != nil%>
                                    <div class="wotitem"
                                     id="alert"><%= alert %>
                                    </div>
                                    <br>
                                <%end%>
                            </tr>
                              <tr>
                                <td>title</td>
                                <td>
                                    <input type="text" name="contribution[title]" value="" size="50" oninput="tlen(this)" onfocus="tlen(this)"><span style="margin-left:10px"></span></td>
                                    
                            </tr>
                            <tr>
                                <td>url</td>
                                <td>
                                    <input type="text" name="contribution[url]" value="" size="50">
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><b>or</b></td>
                            </tr>
                            <tr>
                                <td>text</td>
                                <td>
                                    <textarea name="contribution[text]" rows="4" cols="49"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <input type="submit" value="submit">
                                </td>
                            </tr>
                            <tr style="height:20px"></tr>
                            <tr>
                                <td></td>
                                <td>Leave url blank to submit a question for discussion. If there is no url, the text (if any) will appear at the top of the thread.
                                    <br>
                                    <br> You can also submit via <a href="bookmarklet.html" rel="nofollow"><u>bookmarklet</u></a>.</td>
                            </tr>
                        </table>
                    </form>
                </td>
            </tr>
        </table>
    </center>
</body>
<% end %>