<tr id="pagespace" title="Edit" style="height:10px"></tr><tr><td>  
    <table class="fatitem" border="0">
        <tr>
           <%if alert != nil%>
                <div class="wotitem"
                     id="alert"><%= alert %>
                </div>
                <br>
            <%end%>
        </tr>
          <tr class='athing' id='22884410'>
      <td align="right" valign="top" class="title"><span class="rank"></span></td>     
      <td valign="top" class="votelinks"><center><font color="#ff6600">*</font><br>
        <img src="s.gif" height="1" width="14"></center></td>
        <%if @contribution.url.blank? %>
       <td class="title">
                <a href="/contribution_comments/<%= @contribution.id %>" class="storylink">
                <%= @contribution.title %>
                </a></td>
        <%else%>
        <td class="title"><a href= "http://<%= @contribution.url %>" class="storylink" rel="nofollow"><%= @contribution.title %></a>
        <span class="sitebit comhead"> (<a href="contributions?url_search=<%= @contribution.shorturl %>"><span class="sitestr"><%= @contribution.shorturl %></span></a>)</span></td>
        <%end%>
        </tr>
        <tr><td colspan="2"></td>
        <td class="subtext">
        <span class="score" id="score_22884410"><%= @contribution.points%> points</span>
        by 
        <% @user = User.find(@contribution.user_id) %>
        <a href="/users/<%= @user.id %>" class="hnuser"><font color="#3c963c"><%= @user.user %></font></a> 
        <span class="age"><a href="/contribution_comments/<%= @contribution.id %>"><%= time_ago_in_words(@contribution.created_at) %> ago</a></span> 
        <span id="unv_22884410"></span> | <a href="/edit?cont_id=<%= @contribution.id %>">edit</a>
        | 
        <a href="/delete?cont_id=<%= @contribution.id %>">delete</a>
        </td></tr>
        </table>
            <br><form class="itemform" method="post" action="/edit/<%= @contribution.id%>">
                <input name="_method" type="hidden" value="patch" />
            <script type='text/javascript'>function tlen(el) { var n = el.value.length - 80; el.nextSibling.innerText = n > 0 ? n + ' too long' : ''; }</script>
            <table border="0">
            <tr><td valign="top">title:</td><td><input type="text" name="title" value="<%= @contribution.title%>"
               size="60" oninput="tlen(this)" onfocus="tlen(this)"><span style="margin-left:10px"></span></td></tr>
                  <tr><td valign="top">url:</td><td>
                    <%if !@contribution.url.blank?%>
                            http://<%= @contribution.url%>                          </td></tr>
                    <%else%>
                        <tr><td valign="top">text:</td><td>
                        <textarea cols="60" rows="5" wrap="virtual" name="text"><%= @contribution.text%></textarea> 
                        <font size="-2"><a href="formatdoc" tabindex="-1"><font color="#afafaf">help</font></a></font></td></tr>
                    <%end%>
                        </table><br><input type="submit" value="update"></form>
  </td></tr>