<!DOCTYPE html>

<html>
  <head>
    <title>HackerNews G11c</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <center>
      <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tr>
          <td bgcolor="#ff6600">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
              <tr>
                <td style="width:18px;padding-right:4px">
                  <a href="/contributions">
                    <img src="https://news.ycombinator.com/y18.gif" width="18 " height="18 " style="border:1px white solid; ">
                  </a>
                </td>
                <td style="line-height:12pt; height:10px; ">
                <span class="pagetop ">
                  <b class="hnname ">
                    <a href="/contributions ">Hacker News</a>
                  </b>
                <a href="/newest">new</a> |
                <% if session[:user_id] != nil %>
                  <a href="/comments?users_id=<%= session[:user_id] %>">threads</a> |
                <%end%>
                <a href="/comments">comments</a> |
                <a href="/ask">ask</a> |
                <a>
                  <% if session[:user_id] == nil %>
                    <a href="/auth/google_oauth2">submit</a>
                  <% else %>
                    <%= link_to 'submit', new_contribution_path(:from, "contribution")%></a>
                  <% end %>
                </span></td><td style="text-align:right;padding-right:4px; "><span class="pagetop ">
                              <% if session[:user_id] == nil %>
                                <a href="/auth/google_oauth2">login</a>
                              <% else %>
                                <% @user = User.find(session[:user_id]) %>
                                <!--<a href="/users/<%= session[:user_id] %>?r=true"><%= @user.user %></a>-->
                                 <%= link_to @user.user, user_url(@user.id), data: { turbolinks: false } %>
                                 | <a href="/users/<%= session[:user_id] %>?logout=true">logout</a>
                              <% end %>
                            </span></td>
                </tr></table></td></tr>
                <tr id="pagespace " title=" " style="height:10px "></tr><tr><td><table border="0 " cellpadding="0 " cellspacing="0 " class="itemlist ">
                <tr class='athing'>
    <%= yield %>
</table>

<tr>
  <td>
    <img src="" height="10" width="0">
      <table width="100%" cellspacing="0" cellpadding="1">
        <tr>
          <td bgcolor="#ff6600">
          </td>
        </tr>
      </table>
      <br><center><a
      <br><span class="yclinks"><a href="">Guidelines</a>
        | <a href="">FAQ</a>
        | <a href="mailto:hn@ycombinator.com">Support</a>
        | <a href="https://github.com/HackerNews/API%22%3EAPI">API</a>
        | <a href="">Security</a>
        | <a href="">Lists</a>
        | <a href="">Bookmarklet</a>
        | <a href="">Legal</a>
        | <a href="">Apply to YC</a>
        | <a href="mailto:hn@ycombinator.com">Contact</a></span><br><br><form method="get" action="//hn.algolia.com/">Search:
          <input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false"></form>
            </center></td></tr>
            </table>
            </center>
            
</body>
</html>